ci:
  autofix_commit_msg: 'CHORE: Auto fixes from pre-commit hooks'
  autoupdate_commit_msg: 'CHORE: Pre-commit automatic update'
  autoupdate_schedule: weekly

repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.10
  hooks:
  - id: ruff-check
  - id: ruff-format

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.20.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==25.1.0

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["--ignore-words", "doc/styles/config/vocabularies/ANSYS/accept.txt"]
    additional_dependencies:
    - tomli

- repo: https://github.com/pre-commit-ci/pre-commit-ci-config
  rev: v1.6.1
  hooks:
    - id: check-pre-commit-ci-config

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: requirements-txt-fixer
  - id: debug-statements
  - id: trailing-whitespace
    files: (src|doc|tests)/.*
    exclude: tests/example_models

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.2
  hooks:
  - id: add-license-headers
    args:
    - --start_year=2023
