ci:
    autofix_commit_msg: |
        MISC: Auto fixes from pre-commit.com hooks

        For more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: 'maint/pre-commit-autoupdate'
    autoupdate_commit_msg: 'MISC: Pre-commit automatic update'
    autoupdate_schedule: weekly

repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.10
  hooks:
  - id: ruff-check
  - id: ruff-format

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==25.1.0]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["--ignore-words", "doc/styles/config/vocabularies/ANSYS/accept.txt"]
    additional_dependencies:
      - tomli

# - repo: https://github.com/PyCQA/docformatter
#   rev: v1.7.5
#   hooks:
#   - id: docformatter
#     stages: [manual]
#     args: ["--config", "pyproject.toml"]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: requirements-txt-fixer
  - id: debug-statements
  - id: trailing-whitespace
    files: '(src|doc|tests)/.*'
    exclude: 'tests/example_models'

# # validate GitHub workflow files
# - repo: https://github.com/python-jsonschema/check-jsonschema
#   rev: 0.27.0
#   hooks:
#     - id: check-github-workflows
#       args: ["--verbose"]

# - repo: https://github.com/numpy/numpydoc
#   rev: v1.6.0
#   hooks:
#     - id: numpydoc-validation

# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
#     files: ^legacy/
#     args:
#     - --ignore=D412,D413,D213,D101,D107,D203,D102, D205
